@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 15px;
  --box-shadow-x: 0px;
  --box-shadow-y: 0px;
  --reverse-box-shadow-x: -0px;
  --reverse-box-shadow-y: -0px;

  --heading-font-weight: 700;
  --base-font-weight: 500;

  --background: oklch(96.22% 0.0569 95.61);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --muted-foreground: oklch(45% 0 0);

  --main: oklch(84.08% 0.1725 84.2);
  --border: oklch(0% 0 0);
  --color-border: var(--border);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --chart-1: #FFBF00;
  --chart-2: #0099FF;
  --chart-3: #FF7A05;
  --chart-4: #00D696;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(28.91% 0.0359 90.09);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --muted-foreground: oklch(65% 0 0);

  --main: oklch(77.7% 0.159388 84.384272);
  --border: oklch(0% 0 0);
  --color-border: var(--border);
  --ring: oklch(100% 0 0);

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --chart-1: #E5AC00;
  --chart-2: #008AE5;
  --chart-3: #EB6D00;
  --chart-4: #00BD84;
  --chart-5: #7A83FF;
  --chart-active-dot: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}
