@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;

  --heading-font-weight: 700;
  --base-font-weight: 500;

  --background: oklch(95.31% 0.0496 169.04);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --muted-foreground: oklch(45% 0 0);

  --main: oklch(77.54% 0.1681 162.78);
  --border: oklch(0% 0 0);
  --color-border: var(--border);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --chart-1: #00D696;
  --chart-2: #7A83FF;
  --chart-3: #FACC00;
  --chart-4: #FF4D50;
  --chart-5: #0099FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(22.71% 0.0252 182.05);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --muted-foreground: oklch(65% 0 0);

  --main: oklch(70.54% 0.1525 162.97);
  --border: oklch(0% 0 0);
  --color-border: var(--border);
  --ring: oklch(100% 0 0);

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --chart-1: #00BD84;
  --chart-2: #7A83FF;
  --chart-3: #E0B700;
  --chart-4: #FF6669;
  --chart-5: #008AE5;
  --chart-active-dot: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}
